.burgerBtn{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    color: #fff;
    z-index: 55;
cursor: pointer;
}
.burgerBtn span {
    content: "";
    position: absolute;
    top:9px;
    width: 20px;
    height: 2px;
    background-color: white;
}
.burgerBtn:after{
    content: "";
    position: absolute;
    top:0;
    width: 20px;
    height: 2px;
    background-color: white;
}
.burgerBtn:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: white;
}

